body {
    background-color: #101010!important;
    color: #ffffff!important;
    overflow-x: hidden;
}


.list-group-item-light {
    background: #212121!important;  
    color: #fff!important;
}
.content-section {
    background: #343a40;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-top: 20px;
  }

.btn {
    margin-left: 5px;
}
.author {
    color: #fff!important;
}

.article-title {
    color: #fff;
}
  
a.article-title:hover {
    color: #007bff;
    text-decoration: none;
}
  
.article-content {
    white-space: pre-line;
    color: #fff;
}
  
.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}
  
.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
}
  
.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}
  
.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
  
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}
  
.account-heading {
    font-size: 2.5rem;
}